<h1>Pokedex</h1>
<div class="row">
  <label class="col-form-label col-sm-5 text-sm-end" for="filterDesc">
    Pokemon Search:
  </label>
  <div class="col-sm-5">
    <input
      type="text"
      [(ngModel)]="search"
      class="form-control"
      id="filterDesc"
      placeholder="Pokemon Name"
    />
  </div>
</div>
<ul class="list-group my-2">
  @for (pokemon of pokemons() | buscarPokemon:search(); track pokemon.url) {
  <li class="list-group-item list-group-item-warning extra border border-primary">
    <a
      class="nav-link "
      [routerLink]="['/pokemons/detalle']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      [queryParams]="{ url: pokemon.url }"
    >

      {{ pokemon.name }}
      
    </a>
  </li>
  }
</ul>
