@if(pokemon()) {
<a
  class="btn btn-primary text-capitalize m-1"
  [routerLink]="['/pokemons']"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions]="{ exact: true }"
>
  back to pokedex
</a>
<div class="border border-warning rounded my-2 bg-light text-dark">

  
  <div class="d-flex flex-row justify-content-around">
    <!-- parte lateral izquierda de la pagina de informacion de pokedex imagenes, genero volteo y gruñido -->
    <div class="p-2 imgP w-50">
      @if(pokeMale){ @if (pokeFront) {
      <img [src]="pokemon()!.sprites.other.showdown.front_default" class="" />
      }@else {<img
        [src]="pokemon()!.sprites.other.showdown.back_default"
        class=""
      />} }@else if(pokemon()!.sprites.other.showdown.front_female){ @if
      (pokeFront) {
      <img [src]="pokemon()!.sprites.other.showdown.front_female" class="" />
      }@else {<img
        [src]="pokemon()!.sprites.other.showdown.back_female"
        class=""
      />} }

      <div class="p-2">
        @for (type of pokemon()!.types; track type.slot) {
        <span
          class="badge me-1"
          [ngClass]="tiposPokemons[type.type.name].color"
        >
          <i class="{{ tiposPokemons[type.type.name].icon }} me-1"></i>
          {{ type.type.name }}
        </span>
        }
      </div>
      <div>
        @let buttonFlip = (pokeFront ? 'See Back':'See Front'); @let
        buttonGender = (pokeMale? 'male':'female'); @let buttonGenderColor =
        (pokeMale? 'btn-primary':'btn-danger');

        <button class="btn btn-sm btn-info" (click)="voltearPoke()">
          {{ buttonFlip }}<i class="bi bi-arrow-repeat"></i>
        </button>
        @if (pokemon()!.id<29 || pokemon()!.id >34) {

        <button
          class="btn btn-sm {{ buttonGenderColor }}"
          (click)="changeGender()"
        >
          {{ buttonGender }} <i class="bi bi-gender-{{ buttonGender }}"></i>
        </button>
        }
      </div>
      <audio [src]="pokemon()!.cries.latest" controls></audio>
    </div>

    <!-- parte lateral derecha de la pagina de informacion de pokedex nombre, descripcion, y habilidades -->
    <div class="w-50">
      <div class="h2 my-4 ">
        <!-- <button class="btn btn-warning mx-2" (click)="obtenerAnterior()"><i class="bi bi-arrow-left mx-2"></i></button> -->
        @if(pokemon()!.id>1){
        <a
          class="btn btn-warning text-capitalize m-1"
          [routerLink]="['/pokemons/detalle']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParams]="{ url: urlCambio + (pokemon()!.id - 1) }"
        >
          <i class="bi bi-arrow-left mx-2"></i>
        </a>
        }
        {{ pokemon()!.name }} Nº: {{ pokemon()!.id }}

        <!-- <button class="btn btn-warning mx-2" (click)="obtenerSiguiente()"><i class="bi bi-arrow-right mx-2"></i></button> -->
        @if(pokemon()!.id<1025){
        <a
          class="btn btn-warning text-capitalize m-1"
          [routerLink]="['/pokemons/detalle']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParams]="{ url: urlCambio + (pokemon()!.id + 1) }"
        >
          <i class="bi bi-arrow-right mx-2"></i>
        </a>
        }
      </div>
      <div>
        <div class="h4">Description:</div>
        <div>{{ flavourText }}</div>
      </div>

      <div class="d-flex flex-row justify-content-around">
        <ul class="list-group my-2 text-start">
          <li class="list-group-item">height: {{ pokemon()?.height! / 10 }}m </li>
          <li class="list-group-item">weight:{{ pokemon()?.weight! / 10 }}Kg</li>
        </ul>
        <div>
          
          <ul class="list-group my-2">
            <li class="list-group-item"> <div class="h6">Abilitie:</div></li>
            @for (ability of pokemon()?.abilities; track $index) { @if
            (!ability.is_hidden) {
            <li class="list-group-item">{{ ability.ability.name }}</li>
            } }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- panel de evoluciones -->
  <div class="min-w-50 mx-auto">
    @if (pokemonEvos().length>1) {
    <h3>Evoluciones:</h3>
    <div class="d-flex flex-row justify-content-center">
      @for (evo of pokemonEvos()!; track evo.id) {
      @if(evo.name!==pokemon()?.name ){

      <div class="p-2 d-flex flex-column">
        <a
          class="btn btn-warning text-capitalize m-1 rounded-circle"
          [routerLink]="['/pokemons/detalle']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParams]="{ url: urlCambio + evo.id }"
        >
          <img [src]="evo.sprites.front_default" class="" />
        </a>

        <a
          class="text-decoration-none text-dark"
          [routerLink]="['/pokemons/detalle']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParams]="{ url: urlCambio + evo.id }"
          >{{ evo.name }}</a
        >
      </div>

      } }
    </div>
    }
  </div>
</div>

} @else {
<h1>Cargando datos pokemon...</h1>
}
